.main {
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-rows: 9vh auto;
    grid-gap: 0;
}

.sidenav-container {
    width: 15vw;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    grid-row: 1/3;
    background: $color-white;
    box-shadow: $default-box-shadow;
}

.topnav {
    background: $color-blue;
    grid-column: 2/3;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.page-content {
    grid-column: 2/3;
    margin-top: 6vh;
    margin-left: 5vw;
}

.content-container {
    margin-top: 4rem;
    width: 93%;
}