.form-details {
    padding: 3rem;
    background: $color-white;
    border-radius: $default-slightly-rounded-corners;
    box-shadow: $default-box-shadow;
    display: inline-block;
    position: relative;
}

.flex-content {
    display: flex;
    align-items: flex-start;
}

.large-flex-item {
    width: 40vw;
}

.small-flex-item {
    margin-left: 2rem;
    width: 30vw;
    position: relative;
    overflow: hidden;
    align-self: stretch;
}

@media only screen and (max-width: 600px) {

    .flex-content {
        flex-wrap: wrap;
    }

    .small-flex-item {
        width: 70vw;
        margin-top: 1rem;
        margin-left: 0;
    }

    .large-flex-item {
        width: 70vw;
    }
}

