.meeting-headings {
    display: grid;
    grid-template-columns: 8% 17% 31% 22% 22%;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.meeting-list-item {
    font-size: $default-font-size;
    font-weight: 500;
    background: $color-white;
    display: grid;
    grid-template-columns: 8% 17% 31% 22% 22%;
    padding: 2rem 0 2rem 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: $default-box-shadow;
}

// .meeting-span {
//     display: inline-block;
//     vertical-align: top;
// }

.meeting-callid {
    color: $color-orange;
}