.search-input {
    display: block;
    border-radius: $default-rounded-corners;
    width: 70%;
    padding: 1rem 1rem 1rem 3rem;
    border: none;
    margin: auto;
}

.looking-glass {
    height: 70%;
    position: absolute;
    z-index: 10;
    top: 17%;
    right: 18%;
}