.page-nav-link {
    font-weight: 700;
}

.selected-nav {
    border-left: 8px solid $color-orange !important;
    color: $color-orange;
    box-shadow: inset 8px 0 5px -5px rgba(255,127,39, .6);
}

.icon-container {
    display: inline-block;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    .icon-container {
        display: none;
    }

    .selected-nav {
        border: none !important;
    }

    .page-nav-link {
        font-size: $default-font-size;
    }

    .left-arrow {
        display: none;
    }
}

.house {
    height: 100%;
}

.centered-absolute {
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
}

.door {
    height: 53%;
    bottom: 1px;
}

.left-arrow {
    height: 70%;
}

.calendar-square {
    height: 100%;
}

.calendar-horizontal {
    width: 100%;
    top: 30%;
}

.calendar-vertical {
    height: 40%;
    margin-top: -4px;
}

#calendar-vertical-1 {
    margin-left: 25%;
}

#calendar-vertical-2 {
    margin-right: 25%;
}



