.topnav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 15%;
}

@media only screen and (max-width: 600px) {

    .topnav-list {
        margin: 0;
    }
}

.topnav-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: $default-font-size;
    a {
        text-decoration: none;
        color: $color-white;
        &:hover {
            color: $color-orange;
        }
    }
}

#logout-button {
    a {
        @include button($color-orange, $color-white);
        &:hover {
            @include button($color-white, $color-orange);
        }
    }
}