.topnav-list {
    list-style: none;
}

.topnav-link {
    display: inline-block;
    margin: 0 3rem 0 3rem;
    font-weight: 500;
    font-size: $default-font-size;
    a {
        text-decoration: none;
        color: $color-white;
        &:hover {
            color: $color-orange;
        }
    }
}

#logout-button {
    a {
        @include button($color-orange, $color-white);
        &:hover {
            @include button($color-white, $color-orange);
        }
    }
}