//colour
$color-blue: #003049;
$color-orange: #ff7f27;
$color-light-grey: #efeeee;
$color-white: #ffffff;
$color-grey-form: #fbfbfb;
$color-grey-dropdown: #f7f7f7;

//font-size
$default-font-size: 1.2rem;
$default-header-font-size: 1.5rem;
$default-primary-nav-font-size: 1.8rem;

//styling-elements
$default-rounded-corners: 100px;
$default-slightly-rounded-corners: 10px;
$default-box-shadow: 2px 3px 5px rgba(0,0,0,0.1);