//colour
$color-blue: #003049;
$color-orange: #ff7f27;
$color-light-grey: #efeeee;
$color-white: #ffffff;
$color-grey-form: #fbfbfb;

//font-size
$default-font-size: 1.6rem;
$default-header-font-size: 1.8rem;
$default-primary-nav-font-size: 2rem;