@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background: #efeeee;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #003049;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #003049;
}

.heading {
  text-transform: uppercase;
}

.primary {
  font-size: 1.5rem;
  font-weight: 600;
}

.secondary {
  font-size: 1.2rem;
  font-weight: 500;
}

.text-highlight {
  color: #ff7f27;
}

.page-nav-link {
  font-weight: 700;
}

.selected-nav {
  border-left: 8px solid #ff7f27 !important;
  color: #ff7f27;
  -webkit-box-shadow: inset 8px 0 5px -5px rgba(255, 127, 39, 0.6);
          box-shadow: inset 8px 0 5px -5px rgba(255, 127, 39, 0.6);
}

.icon-container {
  display: inline-block;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .icon-container {
    display: none;
  }
  .selected-nav {
    border: none !important;
  }
  .left-arrow {
    display: none;
  }
}

.house {
  height: 100%;
}

.centered-absolute {
  position: absolute;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
}

.door {
  height: 53%;
  bottom: 1px;
}

.left-arrow {
  height: 70%;
}

.calendar-square {
  height: 100%;
}

.calendar-horizontal {
  width: 100%;
  top: 30%;
}

.calendar-vertical {
  height: 40%;
  margin-top: -4px;
}

#calendar-vertical-1 {
  margin-left: 25%;
}

#calendar-vertical-2 {
  margin-right: 25%;
}

.topnav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 15%;
}

.topnav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.topnav-link a {
  text-decoration: none;
  color: #ffffff;
}

.topnav-link a:hover {
  color: #ff7f27;
}

#logout-button a {
  color: #ff7f27;
  background: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  padding: 1rem 2.5rem;
  border: none;
}

#logout-button a:hover {
  color: #ffffff;
  background: #ff7f27;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  padding: 1rem 2.5rem;
  border: none;
}

.search-input {
  display: block;
  border-radius: 100px;
  width: 70%;
  padding: 1rem 1rem 1rem 3rem;
  border: none;
  margin: auto;
}

.search-input:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 1px #ff7f27;
          box-shadow: 0 0 0 1px #ff7f27;
}

.looking-glass {
  height: 70%;
  position: absolute;
  z-index: 10;
  top: 17%;
  right: 18%;
}

.meeting-headings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8% 17% 31% 22% 22%;
      grid-template-columns: 8% 17% 31% 22% 22%;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.meeting-list {
  list-style: none;
}

.meeting-list-item {
  font-size: 1.2rem;
  font-weight: 500;
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8% 17% 31% 22% 22%;
      grid-template-columns: 8% 17% 31% 22% 22%;
  padding: 2rem 0 2rem 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.orange-button {
  color: #ffffff;
  background: #ff7f27;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  padding: 1rem 2.5rem;
  border: none;
  font-weight: 500;
  display: block;
  margin: 7rem auto 4rem;
}

.input-field {
  background: #fbfbfb;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  border: none;
  -webkit-box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.08);
          box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.08);
}

.input-field:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 0 1px #ff7f27;
          box-shadow: 0 0 0 1px #ff7f27;
}

.dropdown {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 17%;
}

.input-label {
  margin-bottom: 1rem;
}

.input-label:not(:first-child) {
  margin-top: 4rem;
}

#confirmation {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -50px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw auto;
      grid-template-columns: 20vw auto;
  -ms-grid-rows: 9vh auto;
      grid-template-rows: 9vh auto;
  grid-gap: 0;
}

.sidenav-container {
  width: 20vw;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background: #ffffff;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .main {
    -ms-grid-columns: 15vw auto;
        grid-template-columns: 15vw auto;
  }
  .sidenav-container {
    width: 15vw;
  }
}

.topnav {
  background: #003049;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.page-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 6vh;
  margin-left: 5vw;
}

.content-container {
  margin-top: 4rem;
  width: 93%;
}

.search {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-details {
  padding: 3rem;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
}

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input-label {
  display: block;
}

.large-flex-item {
  width: 40vw;
}

.small-flex-item {
  margin-left: 2rem;
  width: 30vw;
  position: relative;
  overflow: hidden;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@media only screen and (max-width: 600px) {
  .flex-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .small-flex-item {
    width: 70vw;
    margin-top: 1rem;
    margin-left: 0;
  }
  .large-flex-item {
    width: 70vw;
  }
}

#search-icon-form {
  right: 5%;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content:checked + .dropdown-label {
  background: #ff7f27;
  color: #ffffff;
}

.guest-dropdown {
  position: relative;
  display: inline;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dropdown-label {
  display: block;
  padding: 1rem;
  background: #fbfbfb;
}

.dropdown-label:hover {
  background: #efeeee;
}

.guest-list {
  list-style: none;
  margin-top: 2rem;
  z-index: 10;
}

#hidden {
  display: none;
}

.sidenav {
  margin-top: 24vh;
}

.sidenav-button-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 1fr;
      grid-template-columns: 2fr 4fr 1fr;
  width: 100%;
  padding: 3rem 0;
  border-left: 8px solid #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */