@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $color-blue;
    line-height: 1.7;
}

.heading {
    text-transform: uppercase;
}

.primary {
    font-size: $default-header-font-size;
    font-weight: 600;
    ;
}

.secondary {
    font-size: $default-font-size;
    font-weight: 500;
}
